<div data-role="view" id="about-view" data-id="about-view" data-layout="main-layout" data-title="About">
   <h4>Условия за наемане</h4>

<span><strong>В ЦЕНАТА СА ВКЛЮЧЕНИ:</strong></span>
<ul>
    <li>неограничен пробег</li>
    <li>застраховка Гражданска отговорност валидна за Европейския съюз</li>

    <li>пътна такса : винетка за територията на Република България</li>

    <li>24 часова пътна помощ за територията на Република България</li>

    <li>CDW - ограничаване на отговорността при щета до размера на депозита.</li>

    <li>TP - ограничаване на отговорността при кражба до размера на депозита.</li>

    <li>такса доставка летище
</ul>
    

</div>